{{!-- <div class="chart-panel panel panel-default clearfix col-md-12">
  <div class="long-chart panel-body">
    {{#if longHeight}}
      {{dc-dashboard/language-gaps
        dimension=dailyDateDim
        groups=languageGroupsOverTime
        width=longWidth
        height=longHeight
        id="languagesDiffOverTime"
        colors=languageColors
      }}
    {{/if}}
  </div>
</div> --}}
<div class="container col-md-10 col-md-offset-1">
  <button type="button" class="btn btn-default" {{action "resetCharts"}}>Reset Charts</button>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>Pareto Time Tracker</h2>
        <p>This site is a front-end demo of a potential tool loosely tailored for a data-science bootcamp. The tool would be able to log any student's coding activity by detecting languages, libraries, and even project names. The collection of data would rely on a custom implementation of the <a target="_blank" href="https://wakatime.com">WakaTime Service.</a></p>
        <p>The dashboard below shows the fictional data of a student named Fred whose activity is being compared to the historical population of all previous students who have gone through the bootcamp. The goal of the interactive charts below are to spot any outliers in Fred's time.</p>
      </div>
    </div>
  </div>

{{!--   <div class="row">
    <div class="col-md-6">
      <div class="chart-panel panel panel-default clearfix">
        <div class="panel-body col-md-12 text-center">
          <img src="http://cl.ly/231V3D241M2W/Image%202016-02-26%20at%2011.10.34%20AM.png" alt="">
        </div>
        <div class="explainer col-md-12">
          <p class="well well-sm">The first chart below starts with a stacked bar graph of the daily median amount of time a typical student spends coding in different languages. The amount of time Fred spends on a language fills each respective bar resulting in either gaps or a surplus. The best insight from this chart comes from hovering over the legend to find clusters or clicking and dragging over the chart to filter the data.</p>
        </div>
    </div>
    </div>
    <div class="col-md-6">
      <div class="chart-panel panel panel-default clearfix">
        <div class="panel-body col-md-12 text-center">
          <img src="http://cl.ly/13393X091S0I/Image%202016-02-25%20at%209.27.03%20PM.png" alt="">
        </div>
        <div class="explainer col-md-12">
          <p class="well well-sm">The charts after the first one use simplified box plots to help see where Fred's time falls within the respective distribution. Each box is the <a target="_blank" href="https://en.wikipedia.org/wiki/Interquartile_range">I.Q.R.</a> for the historical population. If his time falls within the box then his line matches the box's color otherwise it is highlighted black. This is intentional since this use case is to spot outliers and not analyze the population.</p>
        </div>
      </div>
    </div>
  </div> --}}

  <div class="row">
    <div class="chart-panel panel panel-default">
      <div class="long-chart panel-body">
        <p class="well well-sm">This chart shows where Fred's daily coding activity, split by language, diverted from the historical median. The bolder colors highlight the portion of those hours that fall outside the middle half of the distribution. It looks like Fred spent less time than normal on Python during the prep phase which might explain the opposite pattern during Unit 1. Being able to track a student's readiness before arriving is key to a succesful bootcamp. Can you notice any other patterns? Try hovering over the legend or clicking and dragging on the chart to filter the data.</p>
        <h4 class="text-center">Daily Student Hours from Median</h4>
        {{#if longHeight}}
          {{dc-dashboard/language-gaps
            dimension=dailyDateDim
            groups=languageGroupsOverTime
            width=longWidth
            height=longHeight
            id="languagesDiffOverTime"
          }}
        {{/if}}
      </div>
      <div class="panel-footer">
        <div class="chart-panel panel panel-default row">
          <div class="panel-body col-md-6 text-center">
            <img src="http://cl.ly/13393X091S0I/Image%202016-02-25%20at%209.27.03%20PM.png" alt="">
            <div class="explainer">
              <p class="well well-sm">These simplified boxplots show where Fred's hours fall relative to the middle half or <a href="https://en.wikipedia.org/wiki/Interquartile_range">"IQR"</a> of different facets of the historical distribution. If his time falls within that range then his line matches the box's color otherwise it could be a potential outlier and thus highlighted black.</p>
            </div>
          </div>
          <div class="short-chart panel-body col-md-6">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Boxplots Grouped by Unit</h3>
            </div>
            {{#if shortHeight}}
              {{dc-dashboard/ordinal-boxplot
                dimension=unitDim
                groups=unitGroupsBarChart
                width=shortWidth
                height=shortHeight
                colors=greyBlack
                order=unitOrder
                id="unitBoxPlot"
              }}
            {{/if}}
          </div>

          <div class="short-chart panel-body col-md-6">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Boxplots Grouped by Project</h3>
            </div>
            {{#if shortHeight}}
              {{dc-dashboard/ordinal-boxplot
                dimension=projectDim
                groups=projectGroupsBarChart
                width=shortWidth
                height=shortHeight
                colors=greyBlack
                order=projectOrder
                id="projectBoxPlot"
              }}

            {{/if}}
          </div>
          <div class="short-chart panel-body col-md-6">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Boxplots Grouped by Language</h3>
            </div>
            {{#if shortHeight}}
              {{dc-dashboard/ordinal-boxplot
                dimension=languageDim
                groups=languageGroupsBarChart
                width=shortWidth
                height=shortHeight
                order=languageOrder
                colors=languageBoxColors
                id="languageBoxPlot"
              }}
            {{/if}}
          </div>
        <p class="well well-md">Clicking on the charts above allow you to dynamically filter and explore the data. You can also reset the charts at any time via the button on the bottom right. For this use case all coding activity that wasn't part of a project were bucketed into their own type of "project" called exercises. This helps to distinguish and analyze Fred's time between indvidual exercises or group projects.</p>
          <div class="long-chart panel-body">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Boxplots Grouped by Day</h3>
            </div>
            {{#if longHeight}}
              {{dc-dashboard/box-plot
                dimension=dailyDateDim
                groups=projectGroupsOverTime
                width=longWidth
                height=longHeight
                id="projectsOverTime"
                colors=greyBlack
              }}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="chart-panel panel panel-default col-md-12">
      <div class="panel-body col-md-5">
        {{!-- <img src="http://cl.ly/231V3D241M2W/Image%202016-02-26%20at%2011.10.34%20AM.png" alt=""> --}}
        <div class="explainer">
          <p class="well well-md">To understand this section it will help to first click the reset button at the lower right. The chart on the right is an attempt at applying a <a href="https://en.wikipedia.org/wiki/Pareto_principle" target="_blank">Pareto Distribution</a> to Malcom Gladwell's 10,000 Hour Theory. <a target="_blank" href="http://techcrunch.com/2015/10/17/specialization-polymaths-and-the-pareto-principle-in-a-convergence-economy/">This article</a> does a good job of explaining the concept. Basically the first 2,000 hours of coding should take you 80% of the way to being a master. Pareto's law is much less controversial than Gladwell's but when put together like this may lay the foundation for an interesting type of benchmarking. This idea could also potentially help explain the naive <a target="_blank" href="https://www.google.com/search?q=dunning+kruger+effect&safe=off&espv=2&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjcq6Scp5bLAhXD9R4KHfBzBZEQ_AUIBygB&biw=1440&bih=805#imgrc=qJ8kM68JCoQoIM%3A">spike in confidence</a> some people obtain after learning new skills but before really having credible experience.</p>
          <p class="well well-md">What I like about this chart is how encouraging Fred's progress has been but at the same time how honest the shape of the curve is at implying the long road ahead for him. A dashboard of data like this would be very compelling to show prospective employers.</p>
        </div>
      </div>
      <div class="medium-chart panel-body text-center col-md-7">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Journey to Master</h3>
      </div>
        {{#if mediumHeight}}
          {{dc-dashboard/cdf-chart
            dimension=dailyDateDim
            group=cdfGroup
            width=mediumWidth
            height=mediumHeight
            id="cdfChart"
            colors=languageCdfColors
          }}
        {{/if}}
      </div>

      <div class="panel-footer col-md-12">
        {{!-- <button type="button" class="btn btn-default" {{action "resetCharts"}}>Reset Charts</button> --}}
      </div>
    </div>
  </div>
</div>

<div class="text-center">A <a target="_blank" href="https://twitter.com/Hey_Luiz">Hey Luiz</a> Production</div>

  {{!-- <div class="row">
    {{dc-dashboard/bar-chart
      dimension=unitDim
      group=unitGroupsBarChart
      colors=unitColor
      width=700
      height=300
      order=order
      id="unitBarChart"
    }}
  </div>
  <div class="row">
    {{dc-dashboard/cdf-chart
      dimension=dailyDateDim
      group=cdfGroup
      width=800
      height=500
      id="cdfChart"
      colors=languageCdfColors
    }}
  </div> --}}



{{!-- {{dc-dashboard/bar-chart
  dimension=fluctuationDim
  group=fluctuationGroup
  data=cfData
  width=700
  height=300
  id="fluxChart1"
}} --}}

{{!-- {{dc-dashboard/range-chart
  dimension=fluctuationDim
  group=fluctuationGroup
  data=cfData
  width=700
  height=300
  id="fluxChart"
}} --}}



{{yield}}
