<div class="container col-md-10 col-md-offset-1">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Datascope Timetracker</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quisquam, porro error nemo, eos laudantium ducimus, architecto eius sequi soluta quidem perspiciatis nobis voluptatum cupiditate rem corrupti illo animi doloremque!</p>
        <p></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="chart-panel panel panel-default col-md-6">
      <div class="panel-body col-md-12 text-center">
        <img src="http://cl.ly/231V3D241M2W/Image%202016-02-26%20at%2011.10.34%20AM.png" alt="">
      </div>
      <div class="explainer col-md-12">
        <p class="well well-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugit pariatur eaque odit quibusdam et, similique suscipit repudiandae molestias excepturi. Accusantium hic ipsum necessitatibus neque illo nostrum ad quasi repellendus.</p>
      </div>
    </div>
    <div class="chart-panel panel panel-default col-md-6">
      <div class="panel-body col-md-12 text-center">
        <img src="http://cl.ly/13393X091S0I/Image%202016-02-25%20at%209.27.03%20PM.png" alt="">
      </div>
      <div class="explainer col-md-12">
        <p class="well well-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugit pariatur eaque odit quibusdam et, similique suscipit repudiandae molestias excepturi. Accusantium hic ipsum necessitatibus neque illo nostrum ad quasi repellendus.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="chart-panel panel panel-default">
      <h4 class="text-center">Coding Time Boxplots</h4>
      <div class="long-chart panel-body">
        {{#if longHeight}}
          {{dc-dashboard/line-chart
            dimension=dailyDateDim
            groups=languageGroupsOverTime
            width=longWidth
            height=longHeight
            id="languagesOverTime"
            colors=languageColors
          }}
        {{/if}}
      </div>
      <div class="panel-footer">
        <div class="chart-panel panel panel-default row">
          <div class="short-chart panel-body col-md-4">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Panel title</h3>
            </div>
            {{#if shortHeight}}
              {{dc-dashboard/ordinal-boxplot
                dimension=unitDim
                groups=unitGroupsBarChart
                width=shortWidth
                height=shortHeight
                colors=greyBlack
                order=unitOrder
                id="unitBoxPlot"
              }}
            {{/if}}
          </div>

          <div class="short-chart panel-body col-md-4">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Panel title</h3>
            </div>
            {{#if shortHeight}}
              {{dc-dashboard/ordinal-boxplot
                dimension=projectDim
                groups=projectGroupsBarChart
                width=shortWidth
                height=shortHeight
                colors=greyBlack
                order=projectOrder
                id="projectBoxPlot"
              }}

            {{/if}}
          </div>
          <div class="short-chart panel-body col-md-4">
            <div class="panel-heading">
              <h3 class="panel-title text-center">Panel title</h3>
            </div>
            {{#if shortHeight}}
              {{dc-dashboard/ordinal-boxplot
                dimension=languageDim
                groups=languageGroupsBarChart
                width=shortWidth
                height=shortHeight
                order=languageOrder
                colors=languageBoxColors
                id="languageBoxPlot"
              }}
            {{/if}}
          </div>
          <p class="well well-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugit pariatur eaque odit quibusdam et, similique suscipit repudiandae molestias excepturi. Accusantium hic ipsum necessitatibus neque illo nostrum ad quasi repellendus.</p>
        </div>
        <button type="button" class="btn btn-default" {{action "resetCharts"}}>Reset Charts</button>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="chart-panel panel panel-default">
      <div class="long-chart panel-body">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        {{#if longHeight}}
          {{dc-dashboard/box-plot
            dimension=dailyDateDim
            groups=projectGroupsOverTime
            width=longWidth
            height=longHeight
            id="projectsOverTime"
            colors=greyBlack
          }}
        {{/if}}
      </div>
      <p class="well well-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente cupiditate illum laboriosam vero neque amet, quam impedit quas delectus reiciendis architecto quidem atque accusantium ut hic nobis mollitia libero laborum.</p>
      <div class="panel-footer">
        <button type="button" class="btn btn-default" {{action "resetCharts"}}>Reset Charts</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="chart-panel panel panel-default row">
      <div class="panel-body col-md-5 text-center">
        <img src="http://cl.ly/231V3D241M2W/Image%202016-02-26%20at%2011.10.34%20AM.png" alt="">
        <div class="explainer">
          <p class="well well-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugit pariatur eaque odit quibusdam et, similique suscipit repudiandae molestias excepturi. Accusantium hic ipsum necessitatibus neque illo nostrum ad quasi repellendus.</p>
        </div>
      </div>
      <div class="medium-chart panel-body text-center col-md-7">
        {{#if mediumHeight}}
          {{dc-dashboard/cdf-chart
            dimension=dailyDateDim
            group=cdfGroup
            width=mediumWidth
            height=mediumHeight
            id="cdfChart"
            colors=languageCdfColors
          }}
        {{/if}}
      </div>
      <div class="panel-footer col-md-12">
        <button type="button" class="btn btn-default" {{action "resetCharts"}}>Reset Charts</button>
      </div>
    </div>
  </div>
</div>

  {{!-- <div class="row">
    {{dc-dashboard/bar-chart
      dimension=unitDim
      group=unitGroupsBarChart
      colors=unitColor
      width=700
      height=300
      order=order
      id="unitBarChart"
    }}
  </div>
  <div class="row">
    {{dc-dashboard/cdf-chart
      dimension=dailyDateDim
      group=cdfGroup
      width=800
      height=500
      id="cdfChart"
      colors=languageCdfColors
    }}
  </div> --}}



{{!-- {{dc-dashboard/bar-chart
  dimension=fluctuationDim
  group=fluctuationGroup
  data=cfData
  width=700
  height=300
  id="fluxChart1"
}} --}}

{{!-- {{dc-dashboard/range-chart
  dimension=fluctuationDim
  group=fluctuationGroup
  data=cfData
  width=700
  height=300
  id="fluxChart"
}} --}}



{{yield}}
