{{!-- {{dc-dashboard/ordinal-boxplot
  dimension=unitDim
  groups=unitGroupsBarChart
  width=700
  height=300
  colors=unitColors
  order=order
  id="unitBoxPlot"
}} --}}

{{!-- {{dc-dashboard/ordinal-boxplot
  dimension=projectDim
  groups=unitGroupsBarChart
  width=700
  height=300
  colors=unitColors
  order=order
  id="unitBoxPlot"
}} --}}


<div class="container col-md-11">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Datascope Timetracker</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quisquam, porro error nemo, eos laudantium ducimus, architecto eius sequi soluta quidem perspiciatis nobis voluptatum cupiditate rem corrupti illo animi doloremque!</p>
        <p></p>
      </div>
    </div>

      <div class="chart-panel panel panel-default col-md-6">
        {{!-- <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div> --}}
          <div class="panel-body col-md-12 text-center">
            <img src="http://cl.ly/3B3M0l3M2A3q/Image%202016-02-25%20at%206.35.17%20PM.png" alt="">
          </div>
        <div class="explainer col-md-12">
          <p class="well well-md">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugit pariatur eaque odit quibusdam et, similique suscipit repudiandae molestias excepturi. Accusantium hic ipsum necessitatibus neque illo nostrum ad quasi repellendus.</p>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="chart-panel panel panel-default">
      <h4 class="text-center">Coding Time Boxplots</h4>
      <div class="long-chart panel-body">
        {{#if longHeight}}
          {{dc-dashboard/box-plot
            dimension=dailyDateDim
            groups=projectGroupsOverTime
            width=longWidth
            height=longHeight
            id="boxsOverTime"
          }}
        {{/if}}
      </div>
      <div class="panel-footer">
          <div class="chart-panel panel panel-default row">
            {{!-- <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div> --}}
            <div class="short-chart panel-body col-md-6">
              {{#if shortHeight}}
                {{dc-dashboard/ordinal-boxplot
                  dimension=projectDim
                  groups=projectGroupsBarChart
                  width=shortWidth
                  height=shortHeight
                  colors=projectColors
                  order=projectOrder
                  id="projectBoxPlot"
                }}
              {{/if}}
            </div>

            <div class="short-chart panel-body col-md-6">
              {{#if shortHeight}}
                {{dc-dashboard/ordinal-boxplot
                  dimension=unitDim
                  groups=unitGroupsBarChart
                  width=shortWidth
                  height=shortHeight
                  colors=unitColors
                  order=unitOrder
                  id="unitBoxPlot"
                }}
              {{/if}}
            </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="chart-panel panel panel-default">
      <h4 class="text-center">Coding Time Boxplots</h4>
      <div class="long-chart panel-body">
        {{#if longHeight}}
          {{dc-dashboard/line-chart
            dimension=dailyDateDim
            groups=languageGroupsOverTime
            width=longWidth
            height=longHeight
            id="languagesOverTime"
            colors=languageColors
          }}
        {{/if}}
      </div>
      <div class="panel-footer col-md-12">
        <div class="row">
          <div class="chart-panel panel panel-default col-md-12">
            {{!-- <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div> --}}
            <div class="explainer col-md-6">
              <p class="well well-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugit pariatur eaque odit quibusdam et, similique suscipit repudiandae molestias excepturi. Accusantium hic ipsum necessitatibus neque illo nostrum ad quasi repellendus.</p>
              <button type="button" class="btn btn-default" {{action "resetCharts"}}>Reset Charts</button>
            </div>
            <div class="short-chart panel-body col-md-offset-6">
              {{#if shortHeight}}
                {{dc-dashboard/ordinal-boxplot
                  dimension=languageDim
                  groups=languageGroupsBarChart
                  width=shortWidth
                  height=shortHeight
                  order=languageOrder
                  colors=languageBoxColors
                  id="languageBoxPlot"
                }}
              {{/if}}
{{!--               {{dc-dashboard/bar-chart
                dimension=languageDim
                group=languageGroupsBarChart
                width=700
                height=350
                colors=langaugeBarColors
                id="languageBarChart"
              }} --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="chart-panel panel panel-default">
      <h4 class="text-center">Coding Time Boxplots</h4>
      <div class="panel-body">
        {{#if longHeight}}
          {{dc-dashboard/cdf-chart
            dimension=dailyDateDim
            group=cdfGroup
            width=longWidth
            height=longHeight
            id="cdfChart"
            colors=languageCdfColors
          }}
        {{/if}}
      </div>
      <div class="panel-footer col-md-12">
        <div class="row">
          <div class="chart-panel panel panel-default col-md-12">
            {{!-- <div class="panel-heading">
              <h3 class="panel-title">Panel title</h3>
            </div> --}}
            <div class="explainer col-md-6">
              <p class="well well-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid fugit pariatur eaque odit quibusdam et, similique suscipit repudiandae molestias excepturi. Accusantium hic ipsum necessitatibus neque illo nostrum ad quasi repellendus.</p>
              <button type="button" class="btn btn-default" {{action "resetCharts"}}>Reset Charts</button>
            </div>
            <div class="panel-body col-md-offset-6">
              <img src="http://i0.wp.com/digitalintelligencetoday.com/wp-content/uploads/2014/12/screenshot_799.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  {{!-- <div class="row">
    {{dc-dashboard/bar-chart
      dimension=unitDim
      group=unitGroupsBarChart
      colors=unitColor
      width=700
      height=300
      order=order
      id="unitBarChart"
    }}
  </div>
  <div class="row">
    {{dc-dashboard/cdf-chart
      dimension=dailyDateDim
      group=cdfGroup
      width=800
      height=500
      id="cdfChart"
      colors=languageCdfColors
    }}
  </div> --}}



{{!-- {{dc-dashboard/bar-chart
  dimension=fluctuationDim
  group=fluctuationGroup
  data=cfData
  width=700
  height=300
  id="fluxChart1"
}} --}}

{{!-- {{dc-dashboard/range-chart
  dimension=fluctuationDim
  group=fluctuationGroup
  data=cfData
  width=700
  height=300
  id="fluxChart"
}} --}}



{{yield}}
